*{ /*    */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________BODY_____________________________________________________________________________________________________________________*/

body{
    width: 100vw;
    /*background-color: rgb(76,45,137);*/
}
/*______________________________________________________________________________________________________________________________________________*/



.contenedor-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    justify-content: space-around;
    align-items: right;
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________TITULO_LOGO_____________________________________________________________________________________________________________________*/

.titulo-logo img{
    width: 90%;
    height: 50%; 
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________HEADER_____________________________________________________________________________________________________________________*/    

.header{
    position: fixed;
    top: 0;
    display: flex;
    height: 10rem;
    width: 100%;
    justify-content: space-between; 
    background-color: var(--background-principal);
    border: 2px solid rgb(76,45,137);
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________NAVBAR_____________________________________________________________________________________________________________________*/

.navbar{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 30vw;
    background-color: var(--background-principal);
    border: 2px solid red;
    align-items: center; 
}

.navbar a{ /* btns del navbar */

    display: flex;
    color: black; /*   Color de la letra   */
    font-weight: 900;/*   Texto en negrilla   */
    text-decoration: none; /*   Se le quita el subrayado */
}

.link {
    display: inline;
    border: 2px solid rgb(76,45,137);
}

.link-img img{/*  Afecta a las clases "link" con una img dentro   */
    width: 2rem;
    height: 2rem;
    border: 2px solid rgb(76,45,137);
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________BTN-WHATSAPP_____________________________________________________________________________________________________________________*/

.btn-whatsapp{
position: fixed;
bottom: 5rem;
right: 5rem;
width: 5rem;
height: 5rem;
}

.btn-whatsapp img{ /* Imagen del botón */
    height: 100%;
    width: 100%;
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________SECCIONES_____________________________________________________________________________________________________________________*/


section{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________SECCIÓN 1_____________________________________________________________________________________________________________________*/

.s1 img{ /* Imagen de la sección 1 */
    width: 30%;
    height: 30%;
    border-radius: 3rem;
}

/*______________________________________________________________________________________________________________________________________________*/
/*___________________FOOTER_____________________________________________________________________________________________________________________*/

.cont-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    border: 2px solid rgb(76,45,137);
}